# vscode
.vscode/

# rust files
Cargo.lock
target/

# Benchmark work files
*.dat
bench_2*

# other
bpsleep
.env
*.out

# jupyter
.ipynb_checkpoints

# local testing
*.iso
ibmvm.sh

# local deployment files
repCXL-ansible/