#cloud-config
hostname: vm{{ vm_id }}

users:
  - name: ansible
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 {{ ssh_ansible_key }}

package_update: true
package_upgrade: false