---
- name: Deploy repCXL from GitHub
  hosts: vms
  vars:
    repo_url: "https://github.com/swystems/repCXL.git"
    work_dir: "/home/{{ ansible_user }}"
    repo_dir: "{{ work_dir }}/repCXL"
  tasks:

    - name: Install git
      package:
        name: git
        state: present
      become: yes

    - name: Clone repCXL repository
      git:
        repo: "{{ repo_url }}"
        dest: "{{ repo_dir }}"
        version: main
        update: yes
        force: yes

    - name: Test build repCXL
      shell: /home/{{ ansible_user }}/.cargo/bin/cargo test --release
      args:
        chdir: "{{ repo_dir }}"